body {
    font-family: Arial, Helvetica, sans-serif;
    user-select:none;
    
}

.bg-coin {
    background-color: darkslateblue;
    border-radius: 6px;
    color: white;
    opacity: 0.9;
}

.bg-coin:hover {
    border-radius: 6px;
    transition: 500ms;
    opacity: 1;
}


.bg-silver-coin {
    background:#B7B5CB;
}


.parallax1 {
    /* The image used */
    background-image: url("../pic/517886-PJ99BZ-484.jpg");
  
    /* Set a specific height */
    height: 100%;
    min-height: 750px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.tran {
    transition: 3000ms;
}


.icon-size{
    font-size: 1.2rem;
}


.font-size {
    font-size: 0.9rem;
}


